.tlights {
  margin-top: 40px;
  
  &__container {
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 95%;
    max-width: 400px;
  }

  &__button {
    width: 80px;
    padding: 8px;
    margin: 4px;
    font-size: .8rem;
    font-weight: 700;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
  
    &__container {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
  }
}