.tlights {
  margin-top: 40px; }
  .tlights__container {
    display: flex;
    justify-content: center; }
  .tlights__img {
    width: 95%;
    max-width: 400px; }
  .tlights__button {
    width: 80px;
    padding: 8px;
    margin: 4px;
    font-size: .8rem;
    font-weight: 700;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif; }
    .tlights__button__container {
      display: flex;
      justify-content: center;
      margin-top: 50px; }
